<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="APIKey" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjZlMjZhMjVmLTJiNjEtNGZmNi1hYjc5LTE1ZTJjMGQyYWQyNiIsImlhdCI6MTUxNDQxNTU1MSwic3ViIjoiZGV2ZWxvcGVyL2JmMzM3YjFkLWY4NDQtYjAyYy0zYTMyLTA4ZjUxYjY0ODdjOSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjgwLjIzOC4xMjEuMTY3Il0sInR5cGUiOiJjbGllbnQifV19.92RFmCGMXuo1-lfEgoo0sfuK9Wey-tU_dZ3CqvqvzczrsUsgMPRocU9Wau9jEywDCKNWJBfz_XKwQPAh60p9Dg"/>
  </appSettings>
</configuration>